.expense-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 2px solid #5c6b73;
    background-color: #e0fbfc;
    color: #253237;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .expense-date__month {
    font-size: 0.85rem;
    font-weight: bold;
  }
  
  .expense-date__year {
    font-size: 0.75rem;
  }
  
  .expense-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }