.expenses-filter {
    color: #000000;
    padding: 0 1rem;
  }
  
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .expenses-filter select {
    border: 2px solid #253237;
    background-color: #e0fbfc;
    color: #253237;
    font-weight: bold;
    border-radius: 12px;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #e0fbfc;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }